---
import "./app.css"
import Header  from "../components/header.astro";
import Loader from "../components/loader.astro";
import {SEO} from "astro-seo";
import SearchBar from "../components/searchBar";

---

<head>
	<SEO
      title="ACU : Formation starts inside."
      description="Shape your vocation with through ACU's Center for Vocational Formation. With immersive videos and captivating podcasts, you'll grow to forming your vocation."
      openGraph={{
        basic: {
          title: "ACU : Formation starts inside.",
          type: "Shape your vocation with through ACU's Center for Vocational Formation.",
          image: "https://acu-cdn-pull.b-cdn.net/seo-header.png",
        }
      }}
      twitter={{
        creator: "@jonasmerlins1"
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.ico" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: "https://acu-cdn-pull.b-cdn.net/seo-header.png",
          },
          { name: "twitter:title", content: "ACU : Formation starts inside." },
          { name: "twitter:description", content: "Shape your vocation with through ACU's Center for Vocational Formation." },
        ],
      }}
    />
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.css" integrity="sha512-/AilQf/shuEGfh8c3DoIqcIqHZCKpiImSyt+fxIKJphHiNa6QMPb6AbDly6rkjmGr/5OZd35JtvVkbEKnCZO+A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.29/fullpage.min.css" integrity="sha512-cdMjnD4i86qiUIK3pyOMeYKdJ2I0gy0CVZm2AvGuXgMRDFdoIEI2I/x39pZlRsMaI4IEZBJbsNuWVawly1nY/A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />

	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.29/fullpage.min.js" integrity="sha512-jedW9bHnXiSMKNbXfrEQ1gDCRYO8ewRlWPWPf4Fv1LpUyYB0fphiWlUVSGI2Dvwem1gUk0x1Y+cWs4lCwoEo8w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.extensions.min.js" integrity="sha512-0xW5KFMtT462F65vVvIejNawM1U2Fp/yhItmQVFUwdYP+R9tQFCn4QtLEhkp6RoGovZ6YCvbxy+GVCtGv0+nvA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.29/vendors/easings.js" integrity="sha512-FFmLOg/pFlqTgDEWhqL3zxfLRRjv54Dx170T9CgCiTx4+iVVEMPXku6egqJ9wau9y9ORJIaPFuLYR3nsFBm5uQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</head>

<body class="m-auto">

	<Loader />
	<Header position="fixed" />

	<!-- fullPage.js HTML -->
	<div class="h-full w-[100%] m-auto" id="fullpage">
		
		<div data-anchor="home" class="section overflow-hidden  bg-black h-full flex items-center justify-center ">
			<video class="hidden lg:block absolute opacity-75 top-0  overflow-hidden object-fill w-[120%] h-auto left-0  " autoplay data-autoplay muted playsinline loop>
				<source data-src="https://acu-cdn-pull.b-cdn.net/Website%20Cover%20Video%201.0.mp4" type="video/mp4">
			</video>
			<video class="block lg:hidden absolute opacity-75 top-0  overflow-hidden object-fill w-full h-full lg:h-auto  " autoplay data-autoplay muted playsinline loop>
				<source data-src="https://acu-cdn-pull.b-cdn.net/verticalWebsiteCover.mp4" type="video/mp4">
			</video>

			<div class="opacity-0 fadeIn absolute right-0 bottom-10 left-0 flex flex-col items-center justify-center">
				<div class="z-20 w-[90%] lg:w-[70%] flex flex-col items-center justify-center">
					<!-- mobile desktop section tag -->
					<div class="hidden lg:flex mb-10 flex items-center justify-evenly">
						<h1 class="h-fit text-left bebas-neue text-4xl lg:text-5xl text-white">
							Formation
							Starts Here. 
						</h1>
						<div class=" mx-5 w-1/2 h-1 border-2 border-white rounded-full"></div>
						<p class="my-4 text-xl text-left text-white">
							Flourishing. For the Sake of the World.
						</p>
					</div>
					<!-- mobile hero section tag -->
					<div class="flex lg:hidden mb-10 flex-col items-center justify-evenly">
						<h3 class="w-[90%] h-fit text-left text-8xl bebas-neue text-white">
							Formation
							Starts Here. 
						</h3>
						<p class="w-[90%] my-4 text-xl text-left text-white">
							Flourishing. For the Sake of the World.
						</p>
					</div>
					
					<img class="w-5 h-auto m-auto" src="/scroll-down.gif" alt="">
					<!-- <button class="my-4 w-[220px] h-[50px] bg-white hover:bg-black hover:text-white rounded-lg text-black text-center"> 
						Explore resources
						</button> -->
				</div>
			</div>
		</div>
		<div data-anchor="about" class="section  relative overflow-hidden   bg-neutral-800 ">
			<div class="absolute w-[95%] top-0 right-0 left-0 bottom-0 m-auto  grid  grid-cols-2 lg:grid-cols-3 lg:grid-rows-1  gap-4 overflow-hidden">
				<!-- <div class="absolute z-10 w-auto h-full top-0 left-0 bottom-0 my-auto m-auto">
					<img src="/transparent-2.png" alt="" />
				</div> -->

				<div class=" col-span-2 p-3 flex flex-col lg:flex-row items-center lg:items-end justify-end lg:justify-center">
					<div class="relative z-20 w-[100%] lg:m-auto  rounded-lg overflow-hidden ">
						<video class="shadow-lg" id="vid" width="100%" height="100%" controls autoplay data-autoplay playsinline loop>
							<source data-src="https://acu-cdn-pull.b-cdn.net/WebsiteWelcome.mp4" type="video/mp4">
						</video>
					</div>
				</div>

				<div class="promo-text py-3 lg:py-0 text-white col-span-2 lg:col-span-1  opacity-0 flex flex-col items-center justify-start lg:justify-center">
					<h2 class="z-20 text-center  my-5 text-2xl w-[80%]">
						Learn how ACU is <span class="text-teal-400">reimagining</span> digital spaces.
					</h2>
					<div class="flex flex-row items-center w-[90%] lg:w-[100%] justify-evenly whitespace-nowrap">
						<div class="border-0 border-gray-300 p-5 whitespace-normal inline-flex flex-col items-center justify-center">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
								<path stroke-linecap="round" stroke-linejoin="round" d="M9.75 3.104v5.714a2.25 2.25 0 0 1-.659 1.591L5 14.5M9.75 3.104c-.251.023-.501.05-.75.082m.75-.082a24.301 24.301 0 0 1 4.5 0m0 0v5.714c0 .597.237 1.17.659 1.591L19.8 15.3M14.25 3.104c.251.023.501.05.75.082M19.8 15.3l-1.57.393A9.065 9.065 0 0 1 12 15a9.065 9.065 0 0 0-6.23-.693L5 14.5m14.8.8 1.402 1.402c1.232 1.232.65 3.318-1.067 3.611A48.309 48.309 0 0 1 12 21c-2.773 0-5.491-.235-8.135-.687-1.718-.293-2.3-2.379-1.067-3.61L5 14.5" />
							  </svg>
							  <p class="my-3 text-sm">
								Formational Videos
							  </p>
						</div>
						<div class="border-r-2 border-l-2 border-0 border-gray-300 p-5 whitespace-normal inline-flex flex-col items-center justify-center">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
								<path stroke-linecap="round" stroke-linejoin="round" d="M12 18.75a6 6 0 0 0 6-6v-1.5m-6 7.5a6 6 0 0 1-6-6v-1.5m6 7.5v3.75m-3.75 0h7.5M12 15.75a3 3 0 0 1-3-3V4.5a3 3 0 1 1 6 0v8.25a3 3 0 0 1-3 3Z" />
							  </svg>
							  <p class="my-3 text-sm">
								Immersive Podcasts
							  </p>
						</div>
						<div class=" p-5 whitespace-normal inline-flex flex-col items-center justify-center">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width={1.5} stroke="currentColor" class="size-6">
								<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
							  </svg>
							  <p class="my-3 text-sm">
								Digital Community
							  </p>
						</div>
					</div>
				</div>
			</div>
			<!-- <img src="/01.png" class="w-[40%] h-auto z-10 absolute top-0 left-0 h-fit opacity-10" alt="" /> -->
			<!-- <img class="w-full opacity-50 z-10 zoom-slow h-auto absolute top-0 right-0 left-0 bottom-0 m-auto" src="/Welcome Photo-2.jpg" alt="" /> -->

			<!-- <div class="content z-20 absolute top-0 left-0 right-0  bottom-0 overflow-hidden max-h-[95%] z-20 w-[90%] h-auto m-auto   flex flex-col items-center justify-center" > -->
				

				<div class="hidden w-[50%] my-3 grid  grid-cols-4 grid-rows-1 gap-10">
					<div class="max-h-[85px] min-h-[85px] col-span-1 grid grid-cols-1 grid-rows-2 gap-4 " >
						<h4 class=" row-span-1 font-bold text-5xl text-center">23k</h4>
						<p class="opacity-80 row-span-1 text-sm text-center">Students</p>
					</div>
					<div class="max-h-[85px] min-h-[85px] col-span-1 grid grid-cols-1 grid-rows-2 gap-4  " >
						<h4 class=" row-span-1 font-bold text-5xl text-center">300</h4>
						<p class="opacity-80 row-span-1 text-sm text-center">Courses</p>
					</div>
					<div class="max-h-[85px] min-h-[85px] col-span-1 grid grid-cols-1 grid-rows-2 gap-4 " >
						<h4 class="row-span-1 font-bold text-5xl text-center">10k</h4>
						<p class="opacity-80 row-span-1 text-sm text-center">Certificates completed</p>
					</div>
					<div class="max-h-[85px] min-h-[85px] col-span-1 grid grid-cols-1 grid-rows-2 gap-4  " >
						<h4 class="row-span-1 font-bold text-5xl text-center">10:1</h4>
						<p class="opacity-80 row-span-1 text-sm text-center">Student-teacher raion</p>
					</div>
				</div>

			<!-- </div> -->

			
			<!-- <div class="slide"><h1>Section 2</h1></div>
			<div class="slide"><h1>Slide 2.2</h1></div>
			<div class="slide"><h1>Slide 2.3</h1></div> -->
		</div>

		<div data-anchor="church" class="section h-full relative onlineChuch overflow-hidden  bg-neutral-900 flex flex-col items-center justify-center">
			<!-- <img src="/05.png" class="w-[40%] h-auto z-20 absolute top-0 left-0 h-fit opacity-10" alt="" /> -->
			<!-- <img src="community-mock.png" class="zoom-faster rounded-lg w-[40%] h-auto z-20 absolute top-0 left-0 bottom-0 right-0 m-auto h-fit " alt="" /> -->
			<!-- <img src="blob-1.png" class="w-[80%] h-auto z-10 absolute top-0 -left-[20%] bottom-0  m-auto h-fit " alt="" /> -->
			<!-- <img src="/online-text.png" class="boundText w-[50%] h-auto z-40 absolute top-[0%] bottom-0 left-0 right-0 m-auto h-fit " alt="" /> -->
			
			<div class="m-auto w-[95%] h-screen overflow-hidden bg-neutral-900  grid gap-4 grid-cols-2 lg:grid-cols-3 lg:grid-rows-1">
				<div class="col-span-2 py-3 lg:py-0 lg:col-span-1 flex flex-col items-center justify-end lg:justify-center">
					<div class="bg-neutral-900  text-white z-40  flex flex-col items-center justify-center">
						<div class="mb-3">
							<h1 class="text-center  text-2xl">Online <span class="text-yellow-300">formation</span> <br> starts here.</h1>
						</div>
						<div class="mt-5 mb-10 flex items-center justify-center">
							<p class="text-base w-[90%] text-center">
								An online community designed with your spiritual and vocational 
								formation in mind. Intimate spaces to engage meaningful content, 
								share stories and grow together.
							</p>
						</div>
		
						<div class=" z-50 w-[250px] flex flex-row items-center justify-center">
							<a href="https://community.vocationalformation.com/join?invitation_token=0397643d810f3c927a4ad1dd375a4c65af2f5608-f213ec46-5703-4e64-96ea-ae4a32a0283e" class="text-sm py-3 px-4 w-full me-5 text-black border-2 bg-white border-white rounded-full ">
								Join our community 
							</a>
						</div>
					</div>
				</div>
	
				<div class="col-span-2 p-3 lg:col-span-2 flex flex-col items-center justify-start lg:justify-center relative">
					<video preload="none" class="rounded-lg overflow-hidden relative z-10 opacity-100 object-fill" width="100%" height="100%" autoplay data-autoplay muted playsinline loop>
						<source data-src="https://acu-cdn-pull.b-cdn.net/communitypromo.mp4" type="video/mp4">
					</video>
				</div>
			</div>
			
		</div> 

		<div  data-anchor="formation" class="overflow-hidden section bg-black" >
			<div  class="slide relative">
				<div class="absolute top-0 right-0 left-0 bottom-0 m-auto bg-black w-auto h-full rounded-lg overflow-hidden ">
					<video preload="none" class="absolute z-10 opacity-50 top-0 bottom-0  rounded-lg overflow-hidden object-fill w-auto h-full -left-[50%]  lg:w-[80%] lg:h-auto lg:left-0 lg:right-0  max-w-[1000px] m-auto" autoplay data-autoplay muted playsinline loop>
						<source data-src="https://acu-cdn-pull.b-cdn.net/formationVideo.mp4" type="video/mp4">
					</video>
	
					<div class="z-50 absolute left-5 bottom-14 lg:bottom-5 grid grid-cols-2 w-[90%] lg:w-full">
						<div class="col-span-2 lg:col-span-1 flex flex-col items-center justify-start text-white px-4 "  >
							<h1 class="text-left text-4xl lg:text-5xl w-full ">
								Creating <span class="text-blue-500">space</span> to <br>
								discern God's invitation. 
							</h1>
							<p class=" my-5 text-base text-left opacity-70 w-full">
								Thoughtful, curated content to disrupt an unhealthy rhythm of life.
							</p>
							<div class="py-2 flex flex-row items-center justify-start w-full ">
								<a href="/formation" class="py-3 px-4  text-base border-2 border-white rounded-full ">
									View collection
								</a>
								<a href="/blog/1" class="ms-4 py-3 px-4   border-2 border-white text-base rounded-full ">
									Learn More
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div  class="slide relative">
				<div class="absolute top-0 right-0 left-0 bottom-0 m-auto bg-black w-auto h-full rounded-lg overflow-hidden ">
					<video preload="none" class="absolute z-10 opacity-50 top-0 bottom-0  rounded-lg overflow-hidden object-fill w-auto h-full -left-[50%]  lg:w-[80%] lg:h-auto lg:left-0 lg:right-0  max-w-[1000px] m-auto" autoplay data-autoplay muted playsinline loop>
						<source data-src="https://acu-cdn-pull.b-cdn.net/forest.mp4" type="video/mp4">
					</video>
	
					<div class="z-50 absolute left-5 bottom-14 lg:bottom-5  grid grid-cols-2 w-[90%] lg:w-full">
						<div class="col-span-2 lg:col-span-1 flex flex-col items-center justify-start text-white px-4 " data-accordion="collapse" data-active-classes="bg-transparent" >
							<h1 class="text-left text-5xl w-full ">
								Visual <span class="text-orange-500">podcasts</span>, <br>
								intentional conversations.
							</h1>
							<p class=" my-5 text-base text-left opacity-70 w-full">
								Reimagining our sense of calling in the world.
							</p>
							<div class="py-2 flex flex-row items-center justify-start w-full ">
								<a href="/formation" class="py-3 px-4  text-base border-2 border-white rounded-full ">
									View collection
								</a>
								<a href="/blog/1" class="ms-4 py-3 px-4  text-base border-2 border-white rounded-full ">
									Learn More
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div  class="slide relative">
				<div class="absolute top-0 right-0 left-0 bottom-0 m-auto bg-black w-auto h-full rounded-lg overflow-hidden ">
					<video preload="none" class="absolute z-10 opacity-50 top-0 bottom-0  rounded-lg overflow-hidden object-fill w-auto h-full -left-[50%]  lg:w-[80%] lg:h-auto lg:left-0 lg:right-0  max-w-[1000px] m-auto" autoplay data-autoplay muted playsinline loop>
						<source data-src="https://acu-cdn-pull.b-cdn.net/blog.mp4" type="video/mp4">
					</video>
	
					<div class="z-50 p-3 absolute left-5 bottom-14 bot lg:bottom-5  grid grid-cols-2 w-[90%] lg:w-full">
						<div class="col-span-2 lg:col-span-1 flex flex-col items-center justify-start text-white px-4 " data-accordion="collapse" data-active-classes="bg-transparent" >
							<h1 class="text-left text-4xl  lg:text-5xl w-full ">
								Read insightful  <span class="text-green-500">blogs</span>   
								from thought leaders.
							</h1>
							<p class=" my-5 text-base text-left opacity-70 w-full">
								Read through topics on formaton, devotion, and biblical themes. 
							</p>
							<div class="py-2 flex flex-row items-center justify-start  w-full">
								<a href="/blog" class="py-3 px-4  text-base border-2 border-white rounded-full ">
									Read now
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		(function() {
			function togglePlayPause() {
				// var vid =document.getElementById("vid");

				// if  (vid.paused) {
				// 		vid.play();
				// 		$("#play").addClass("hidden");
				// 		$("#pause").removeClass("hidden");

				// 	} else {
				// 		vid.pause()
				// 		$("#pause").addClass("hidden");
				// 		$("#play").removeClass("hidden");
				// 	};

			}
					
			
			$(document).ready(function() {
				var fp = new fullpage("#fullpage", {
					anchors: ["home", "about", "church", "formation"],
					controlArrows: true,
					slidesNavigation: true,
					slidesNavPosition: 'bottom', // Default
					controlArrowsHTML: [
						'<div class="my-arrow fp-prev"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="ms-5 m-auto size-6"><path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" /></svg></div>',
						'<div class="my-arrow fp-next"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="me-5 m-auto size-6"><path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" /></svg></div>'
					],
					licenseKey: "M9D46-QB92H-PJH47-SR3PK-YYTON",
					onLeave: function( origin, destination, direction, trigger){
							var loadedSlide = this;
							if((origin.index == 0 && direction =='down')
							|| (origin.index == 2 && direction =='up')){
								togglePlayPause();
								$(".promo-text").addClass("animate-fade animation-delay-100");
							}
							if(origin.index == 2 && direction =='down'){
								$("#onlineChurhSection").find(".boundText").addClass("zoom");
							}
							if(origin.index == 3 && direction =='up'){
								$("#onlineChurhSection").find(".boundText").removeClass("zoom");
							}
						}
				});

				$("body").click();

				$("#play, #pause").on("click", function() {
					togglePlayPause(); 
				});

				$(".resourceButton").each(function(index) {
					if ($(this).attr("aria-expanded") == "false") {
						$(this).addClass("opacity-50");
						$(this).find(".tab-indicator").addClass("hidden");

					}

					if ($(this).attr("aria-expanded") == "true") {
					var controls = $(this).attr("aria-controls");
						
						$("#" + controls).addClass("animate-fade");
						$(this).find(".tab-indicator").removeClass("hidden");

						$(".accordion-content").each(function( index) {
							console.log($(this).attr("aria-controls") );
							if ($(this).attr("aria-controls") == controls) {
								$(this).removeClass("hidden");
								$(this).addClass("animate-fade animation-delay-600 flex");
							}
						})

					}
				});

				$(".resourceButton").on("click", function() {
					var controls = $(this).attr("aria-controls");


					$("resourceButton").each(function(index) {
						if ($(this).attr("aria-expanded") == "true") {
							$(this).addClass("opacity-50");
							$(this).find(".tab-indicator").addClass("hidden");
						}
					});

					$(".accordion-content").each(function( index) {
						if ($(this).attr("aria-controls") == controls) {
							$(this).removeClass("hidden");
							$(this).addClass("animate-fade animation-delay-600 flex");
						} else {
							$(this).addClass("hidden");
							$(this).removeClass("animate-fade animation-delay-600 flex");
						}
					})

					$(this).removeClass("opacity-50");
					$(this).find(".tab-indicator").removeClass("hidden");
					$(this).attr("aria-expanded", false)

					$("#" + controls).addClass("animate-fade");

				})

				// $(".fp-controlArrow").removeClass("fp-next fp-prev");

			});
		})();
		
	</script>


</body>

