---
import SearchBar from "./searchBar";


---
<div class=" hidden  my-5 grid-cols-1 grid-rows-1 m-auto w-[95%]">
    <div class="col-span-1 row-span-2 flex items-center justify-center">
        <a class="!w-[150px] me-4" href="/">
            <img class=" h-auto" src="/acu_logo.png" alt="logo"/>
        </a>
    </div>

    <div class="mt-7 mb-10 col-span-1 flex flex-row items-end justify-center">
        <SearchBar client:load />
    </div>
</div>