---
import Divider from "./divider.astro";
import SearchBar from "./searchBar"

const {position} = Astro.props;
---

<!-- desktop menu -->
<div class={position == "sticky" ? position + ` bg-[#191B1F] hidden lg:flex fadeIn-header opacity-0 mb-1  w-full p-2 top-0 left-0 right-0 m-auto z-50 flex-row items-center justify-between` : position + ` ` + `  hidden lg:flex fadeIn-header opacity-0 mb-[5%]  w-full p-2 top-0 left-0 right-0 m-auto z-50 flex-row items-center justify-between`}>
    <div class="bg-transparent  rounded-full p-5  flex flex-row items-center justify-start">
        <a class="!w-[120px] me-4" href="/">
            <img class=" h-auto" src="/acu_logo.png" alt="logo"/>
        </a>
    
        <SearchBar client:load />
    </div>
    
    <div class=" links flex items-center justify-end ">
        <a href="/#about" class="text-md text-white">About </a>
    
        <a href="/blog" data-popover-target="popover-blog" data-popover-placement="bottom"  class="text-md text-white mx-5 hover:text-green-500 ">Blogs</a>
        <div data-popover id="popover-blog" role="tooltip" class="absolute z-10 invisible inline-block w-64 text-sm text-gray-200 transition-opacity duration-300 bg-gray-800 border border-gray-700 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
            <div class="px-3 py-2">
                <p class="text-center">Insightful blogs from thought leaders.</p>
            </div>
        </div>
    
        <a href="/formation" data-popover-target="popover-formation" data-popover-placement="bottom"  class="text-md text-white me-5 hover:text-blue-500 ">Formation Videos </a>
        <div data-popover id="popover-formation" role="tooltip" class="absolute z-10 invisible inline-block w-64 text-sm text-gray-200 transition-opacity duration-300 bg-gray-800 border border-gray-700 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
            <div class="px-3 py-2">
                <p class="text-center">Immersive short-form videos designed with your spiritual and vocational formation in mind.</p>
            </div>
        </div>
    
        <a href="/podcasts"  data-popover-target="popover-vocatio" data-popover-placement="bottom"  class="text-md text-white me-5 hover:text-orange-500">Podcasts</a>
        <div data-popover id="popover-vocatio" role="tooltip" class="absolute z-10 invisible inline-block w-64 text-sm text-gray-200 transition-opacity duration-300 bg-gray-800 border border-gray-700 rounded-lg shadow-sm opacity-0">
            <div class="px-3 py-2">
                <p class="text-center">Experience podcasts centered around reimaging our vocation.</p>
            </div>
        </div>
    
        <!-- <a href="https://community.vocationalformation.com/join?invitation_token=0397643d810f3c927a4ad1dd375a4c65af2f5608-f213ec46-5703-4e64-96ea-ae4a32a0283e" class=" text-md text-black bg-white rounded-full p-3 px-5 flex items-center justify-center hover:bg-gray-800 text-sm hover:text-white"> Join our formation community.</a> -->
        <a href="/community" class=" text-md text-black bg-white rounded-full p-3 px-5 flex items-center justify-center hover:bg-gray-800 text-sm hover:text-white"> Join our formation community.</a>
    </div> 
</div>

<!-- mobile menu -->
<div class={position == "sticky" ? position + ` bg-[#191B1F] flex lg:hidden fadeIn-header opacity-0 mb-[5%]  w-[100] p-2 top-0 left-0 right-0 m-auto z-50 flex-row items-center justify-between`  : position + ` flex lg:hidden fadeIn-header opacity-0 mb-[5%] rounded-full w-[95%] top-2 left-0 right-0 m-auto z-50 flex-row items-center justify-between`}>
    <div class="bg-transparent  rounded-full p-5  flex flex-row items-center justify-start">
        <a class="!w-[40%] me-4" href="/">
            <img class=" h-auto" src="/acu_logo.png" alt="logo"/>
        </a>
    </div>
    
    <button class="menu-icon text-md text-white font-bold flex flex-row items-end">
        <svg id="svg-hamburger" class="w-[30px] h-[30px] mx-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
</div>

<div style="z-index: 900" id="mobile-menu" class="fixed hidden lg:hidden top-0 left-0 w-full h-full flex-col items-center justify-center bg-white">
    <div class="fixed flex mb-[5%] rounded-full w-[95%] top-2 left-0 right-0 m-auto z-50 flex-row items-center justify-end">
        <div class="bg-transparent  rounded-full p-5  flex flex-row items-center justify-start">
            <a class="!w-[40%] me-4" href="/">
                <img class=" h-auto" src="/acu_logo.png" alt="logo"/>
            </a>
        </div>

        <button class="menu-icon text-md text-white font-bold flex flex-row items-end">
            <svg id="svg-close"  class=" w-[30px] h-[30px] mx-3 text-black"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
        </button>
    </div>

    <div class=" m-auto flex flex-col items-start justify-center ">
        <a href="/#about" class="text-4xl text-black mb-5">About </a>
        <a href="/blog" class="text-4xl text-black mb-5 hover:text-green-500 ">Blogs</a>
        <a href="/formation"  class="text-4xl  text-black  mb-5 hover:text-blue-500 ">Formation Videos </a>
        <a href="/podcasts"  class="text-4xl  text-black mb-3 hover:text-orange-500">Podcasts</a>
        <div class="my-3 w-full flex items-center justify-center">
            <Divider />
        </div>
        <!-- <a href="https://community.vocationalformation.com/join?invitation_token=0397643d810f3c927a4ad1dd375a4c65af2f5608-f213ec46-5703-4e64-96ea-ae4a32a0283e" class=" text-xl text-white bg-black rounded-full p-3 px-5 flex items-center justify-center hover:bg-gray-800  hover:text-white"> Join our formation community.</a> -->
        <a href="/community" class=" text-xl text-white bg-black rounded-full p-3 px-5 flex items-center justify-center hover:bg-gray-800  hover:text-white"> Join our formation community.</a>
        <div class="my-3 w-full flex items-center justify-center">
            <p class="text-sm text-gray-800 me-1
            ">Community provided by</p>
            <img class="w-[50px]" src="/circle-logo.png" />
        </div>
    </div> 
</div>

<script>
    (function() {
        $(document).ready(function() {
            $(".menu-icon").click(function() {
                
                // $(" #svg-hamburger, #svg-close").toggle();
                $(" #mobile-menu").toggleClass("flex");
                $(" #mobile-menu").toggleClass("hidden");
            })
        })
    })()
</script>