---
    const {title, link} = Astro.props;
---
<div class="col-span-1 flex flex-row items-end justify-end">
    <!-- <a id="exploreMore" class="col-span-1 my-3 flex items-center justify-center rounded-full w-[200px] h-[50px] bg-white text-black font-bold text-sm p-3">
        Explore more
    </a> -->
    
    <a href={"https://www.facebook.com/sharer/sharer.php?u=" + link} target="_blank" id="exploreMore" class="col-span-1 mx-3  flex items-center justify-center my-3  rounded-full w-[100px] h-[50px] bg-blue-600 text-white font-bold text-sm p-3">
        Facebook
    </a>

    <a href={"http://twitter.com/share?text=" + title + "&url=" + link + "/&hashtags=#vocationalformation,#acu,#newexperience"} id="exploreMore" class="col-span-1    my-3 flex items-center justify-center rounded-full w-[50px] h-[50px] bg-black text-white font-bold text-sm p-3">
        X
    </a>
</div>